{% extends "main.html" %}

{% block title %}
      {{titulo}}
{% endblock %}
{% block content %}
<div id="inicio">
      <h2 style="margin-bottom: 0.5em;">{{titulo}} {{accesorio.tipo}}</h2>
      <div id="tabla_transaccion">
            <table>
                  <tr>
                        <td>Precio de venta:</td>
                        <td style="color: green;">${{accesorio.monto_venta}}</td>
                  </tr>           
                        <td>Costo original</td>
                        <td style="color: brown;">-${{accesorio.monto_compra}}</td>
                  </tr>
                  </tr>           
                        <td>Ganancia</td>
                        <td>${{accesorio.ganancia}}</td>
                  </tr>
            </table>
      </div>
      <hr>
      <div id="tabla_historial">
            <table>
                  <thead>
                        <tr colspan =2> <b>Historial transacciones</b> </tr>
                  </thead>
                  {% if accesorio.transacciones.all|length != 0 %}
                        {% for x in accesorio.transacciones.all %}    
                              <tr>
                                    <td>{{x.monedero}}  </td>
                                    <td>${{x.dinero}}</td>
                              </tr>
                        {% endfor %}
                  {% else %}
                        <tr>
                              <td>Ninguna </td>
                              <td>transacción</td>
                        </tr>
                  {% endif %}
            </table>
      </div>
      <hr>
      <h5>Saldo disponible: ${{accesorio.dinero_disponible_transaccion}}</h5>

      <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="formLocation">
                  <div class="contenidoForm">
                        {{ form.monedero.errors }}
                        {% if valor2 == false %}
                              <label for="{{ form.monedero.id_for_label }}">Monedero</label>
                        {% endif %}
                        {{ form.monedero }}
                  </div>
                  <div class="contenidoForm non">
                        {{ form.accesorio.errors }}
                        {% if valor3 == false %}
                              <label for="{{ form.accesorio.id_for_label }}">accesorio</label>
                        {% endif %}
                        {{ form.accesorio }}
                  </div>
                  
                  <div class="contenidoForm non">
                        {{ form.fecha.errors }}
                        {% if valor == false %}
                              <label for="{{ form.fecha.id_for_label }}">fecha</label>
                        {% endif %}
                        {{ form.fecha }}
                  </div>
                  <div class="contenidoForm non">
                        {{ form.hora.errors }}
                        {% if valor == false %}
                              <label for="{{ form.hora.id_for_label }}">hora</label>
                        {% endif %}
                        {{ form.hora }}
                  </div>
                  <div class="contenidoForm">
                        {{ form.tipo.errors }}
                        <label for="{{ form.tipo.id_for_label }}">Tipo de transacción</label>
                        {{ form.tipo }}
                  </div>
                  <div class="contenidoForm">
                        {{ form.dinero.errors }}
                        <label for="{{ form.dinero.id_for_label }}">Valor</label>
                        {{ form.dinero }}
                  </div>
                  <div class="contenidoForm">
                        {{ form.motivo.errors }}
                        <label for="{{ form.motivo.id_for_label }}">Motivo</label>
                        {{ form.motivo }}
                  </div>
                  <button type='submit'>Confirmar</button>
            </div>
      </form>
</div>
{% endblock %}